<section>

<div class="top-bar ">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li>
            <a href="#">One</a>
          </li>
          <li>
            <a href="#">Two</a>
          </li>
          <li>
            <a href="#">Three</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Two</a>
      </li>
      <li>
        <a href="#">Three</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <input type="search" placeholder="Search">
      </li>
      <li>
        <button type="button" class="button">Search</button>
      </li>
    </ul>
  </div>
</div>

</section>

<br>

<section>

<!-- Another Container for table -->
<div class="grid-container">

  <div>
    <table class="mytable hover align-center">
      <thead>
        <tr>
          <th>
            <fieldset class="large-6 cell">
              <input id="checkbox1" type="checkbox">
            </fieldset>
          </th>
          <th>Device Id</th>
          <th>Device Info A</th>
          <th>Device Info B</th>
        </tr>
      </thead>
    </table>
  </div>

</div>

</section>